@model HCI_Restaurants.Models.Covid19

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Restaurant.Name</h1>

<div>
    <h4>Covid 19 Policy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.TakeOut)*@
            Take Out
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOut)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.LimitSeating)*@
            Limited Seating
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimitSeating)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.IndoorDining)*@
            Indoor Dinning
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndoorDining)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Curbside)*@
            Curbside Pickup
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curbside)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Restaurants" class="btn btn-primary">Back to Restaurants</a>
</div>
